#plan {
    padding: 120px 0 212px 0;
  }
  #plan .plan_heading {
    width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  #plan .plan_heading h3 {
    width: 689px;
    font-size: 56px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #29313D;
    line-height: 140%;
    text-transform: capitalize;
  }
  #plan .plan_swap {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  #plan .plan_swap .swap_item {
    font-size: 28px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    color: #29313D;
    text-transform: capitalize;
    line-height: 100%;
  }
  #plan .plan_swap .swap_btn {
    width: 70px;
    height: 48px;
    background-color: #8454F5;
    border-radius: 50px;
    position: relative;
  }
  #plan .plan_swap .swap_btn::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
  #plan .plan_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  #plan .plan_wrapper .plan_item {
    width: 450px;
    border-radius: 30px;
    padding: 48px;
    margin-top: 160px;
    transition: all linear 0.3s;
  }
  #plan .plan_wrapper .plan_item:hover {
    margin-top: 80px;
    background: #181059;
  }
  #plan .plan_wrapper .plan_item:hover:hover .package {
    color: #F8FAFC;
  }
  #plan .plan_wrapper .plan_item:hover:hover .package_name span {
    color: #F8FAFC;
  }
  #plan .plan_wrapper .plan_item:hover:hover .package_name i {
    color: #F8FAFC;
  }
  #plan .plan_wrapper .plan_item:hover:hover .package_value li {
    color: #F8FAFC;
  }
  #plan .plan_wrapper .plan_item:hover:hover a {
    background: #8454F5;
    color: #F8FAFC;
  }
  #plan .plan_wrapper .plan_item .package {
    font-size: 36px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 140%;
    color: #29313D;
    text-transform: capitalize;
  }
  #plan .plan_wrapper .plan_item .package_ditails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
  }
  #plan .plan_wrapper .plan_item .package_ditails .package_name {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
  }
  #plan .plan_wrapper .plan_item .package_ditails .package_name li {
    display: flex;
    align-items: center;
    -moz-column-gap: 14px;
         column-gap: 14px;
  }
  #plan .plan_wrapper .plan_item .package_ditails .package_name li span {
    font-size: 20px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #29313D;
    text-transform: capitalize;
  }
  #plan .plan_wrapper .plan_item .package_ditails .package_name li i {
    font-size: 20px;
    color: #29313D;
    margin-right: 14px;
  }
  #plan .plan_wrapper .plan_item .package_ditails .package_value {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
  }
  #plan .plan_wrapper .plan_item .package_ditails .package_value li {
    font-size: 20px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #8454F5;
    text-transform: capitalize;
  }
  #plan .plan_wrapper .plan_item a {
    background-color: rgba(132, 84, 245, 0.1);
    color: #8454F5;
    padding: 20px 48px;
    font-size: 20px;
    font-weight: 600;
    color: #29313D;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;
    transition: all linear 0.3s;
  }
  #plan .plan_wrapper .plan_item a:hover {
    background: #8454F5;
    color: white;
  }