#goals {
    padding: 183px 0 328px 0;
    position: relative;
  }
  #goals .goals_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #goals .goals_wrapper .goals_img {
    width: 796px;
    height: 733px;
    padding-left: 53px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100px;
  }
  #goals .goals_wrapper .goals_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #goals .goals_wrapper .goals_contant {
    width: 690px;
    margin-right: 100px;
    margin-left: 600px;
  }
  #goals .goals_wrapper .goals_contant h3 {
    width: 689px;
    padding-bottom: 24px;
    font-size: 56px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #29313D;
    line-height: 140%;
    text-transform: capitalize;
  }
  #goals .goals_wrapper .goals_contant p {
    width: 575px;
    padding-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #29313D;
    text-transform: capitalize;
    line-height: 150%;
  }
  #goals .goals_wrapper .goals_contant a {
    border: 1px solid #8454F5;
    padding: 20px 48px;
    font-size: 20px;
    font-weight: 600;
    color: #29313D;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;
    transition: all linear 0.3s;
  }
  #goals .goals_wrapper .goals_contant a:hover {
    background: #8454F5;
    color: white;
  }
  