#team {
    padding: 140px 0;
  }
  #team .team_heading {
    width: 690px;
  }
  #team .team_heading h3 {
    width: 689px;
    font-size: 56px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #29313D;
    line-height: 140%;
    text-transform: capitalize;
  }
  #team .team_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 60px;
         column-gap: 60px;
    margin-top: 90px;
  }
  #team .team_wrapper .team_image {
    width: 450px;
    height: 520px;
    border-radius: 40px;
  }
  #team .team_wrapper .team_image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 40px;
  }
  #team .team_wrapper .team_ditails p {
    width: 446px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    line-height: 180%;
    color: #29313D;
    text-transform: capitalize;
  }
  #team .team_wrapper .team_ditails h4 {
    font-size: 36px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    color: #29313D;
    line-height: 140%;
    margin: 20px 0 14px 0;
  }
  #team .team_wrapper .team_ditails .team_social {
    display: flex;
    align-items: center;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  #team .team_wrapper .team_ditails .team_social .team_social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #8454F5;
    cursor: pointer;
    transition: all linear 0.3s;
  }
  #team .team_wrapper .team_ditails .team_social .team_social_icon:hover {
    background-color: #8454F5;
  }
  #team .team_wrapper .team_ditails .team_social .team_social_icon i {
    color: #8454F5;
    transition: all linear 0.3s;
  }
  #team .team_wrapper .team_ditails .team_social .team_social_icon:hover i {
    color: white;
  }
  #team .team_wrapper .team_ditails .team_angle {
    display: flex;
    -moz-column-gap: 24px;
         column-gap: 24px;
    margin-top: 56px;
  }
  #team .team_wrapper .team_ditails .team_angle .team_angle_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #8454F5;
    cursor: pointer;
    transition: all linear 0.3s;
  }
  #team .team_wrapper .team_ditails .team_angle .team_angle_icon:hover {
    background-color: #8454F5;
  }
  #team .team_wrapper .team_ditails .team_angle .team_angle_icon i {
    color: #8454F5;
    transition: all linear 0.3s;
  }
  #team .team_wrapper .team_ditails .team_angle .team_angle_icon:hover i {
    color: white;
  }
  #team .team_wrapper .team_image_box {
    width: 368px;
    height: 480px;
  }
  #team .team_wrapper .team_image_box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  